html, body, section, .page-container
{
    height: 100%;
    width: 100%;
}

section
{
    border: solid 1px;
}

/*
.red
{
    background-color: #faa;
}

.green
{
    background-color: green;
}

.blue
{
    background-color: blue;
}

.gray
{
    background-color: gray;
}

.yellow
{
    background-color: yellow;
}

/*
@media (min-width: 768px)
{
    body
    {
        overflow: hidden;
    }
}
*/
