html, body, section, .page-container
{
    height: 100%;
    width: 100%;
}

.navbar
{
    background-color: #4caf50;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus
{
    color: #c8e6c9;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover
{
    color: #ffffff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover
{
    color: #ffffff;
    background-color: #388e3c;
}

/*
.red
{
    background-color: #faa;
}

.green
{
    background-color: green;
}

.blue
{
    background-color: blue;
}

.gray
{
    background-color: gray;
}

.yellow
{
    background-color: yellow;
}

/*
@media (min-width: 768px)
{
    body
    {
        overflow: hidden;
    }
}
*/
